/*=========== Reset CSS starts here ===========*/

body *, body *:active, body *:focus {
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    /*font-family: 'PT Sans', sans-serif;*/
    color: #515151;
}
body a {
    text-decoration: none;
    color: #515151;
    transition: all 0.3s ease-in-out;
}
body a:hover, body a:active, body a:focus {
    color: #515151;
    text-decoration: none;
    outline: none;
}

.fullwidth {
    width: 100%;
    float: left;
}

img {
    max-width: 100%;
    height: auto;
}

header{
    background: #efefef;
}
header .links{
    float: right;
}

header .links a {
    color: #009FD9;
    background: #fff;
    text-transform: uppercase;
    display: inline-block;
    float: left;
    font-size: 15px;
    padding: 8px 15px;
    font-weight: 500;
    margin-left: 1px;
}
.desktop-logo{
    margin-top: -10px;
}
header .search-box{
    max-width: 400px;
}
.search-col{
    margin-top: 20px;
}
header .search-box .input-group-append{
    margin-left: 0;
}

header .search-box input{
    height: 50px;
    border: none !important;
    box-shadow: none !important;
}
header .search-box button{
    background: #009FD9 !important;
    border: none !important;
    box-shadow: none !important;
    height: 50px;
    width: 68px;
}
header .search-box img{
    max-height: 45px;
}
.social-top{

}
.social-top span{
    padding: 0 10px 0 20px;
    color: #009FD9;
    font-size: 14px;
}
.social-top a{
    text-align: center;
    display: inline;
    padding: 0 10px;
}
.social-top i {
    color: #009FD9;
    font-size: 18px;
}

.navbar {
    background: #009FD9;
    z-index: 222;
    padding: 0;
}

.navbar li{
    padding: 0px 0;
}
.navbar .navbar-nav li a{ 
    color: #fff;
    text-transform: uppercase;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    padding: 22px 9px;
    line-height: 1em;
    text-align: center;
    display: block;
}
.navbar .navbar-nav li a:after{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background: #fff;
}
.navbar .navbar-nav li:last-of-type a:after{
    display: none;
}
/*============ Ends header css =================*/
.top-slider-inner{
    background: #efefef;
}
.slide-img-col{
    overflow: hidden;
}
.slider-text{
    padding: 20px 15px 15px;
}
.slider-text h1{
    font-size: 32px;
    margin-bottom: 25px;
}
.slider-text p{
    font-size: 20px;
    line-height: 1.2em;
}
.anchor-div{
    display: inline-block;
}
.anchor-div a{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.anchor-div .a-img {
    background: #009FD9;
    height: 28px;
    width: 28px;
    text-align: center;
    display: block;
    padding: 1px 8px 0;
    border-radius: 4px;
    margin-right: 10px;
    vertical-align: middle;
}
.anchor-div span img {
    float: none;
    width: 12px !important;
    display: inline-block !important;
}
.anchor-div span img{
    width: auto;
    float: none;
}
.anchor-div .a-text{
    border-bottom: 1px dotted #515151;
}
.top-slider .owl-dots{
    width: 50%;
    position: absolute;
    bottom: 20px;
    left: 0;
}
.top-slider .owl-theme .owl-dots .owl-dot span{
    width: 15px;
    height: 15px;
    background: #515151;
    margin: 5px 3px;
}
.top-slider .owl-theme .owl-dots .owl-dot.active span,
.top-slider .owl-theme .owl-dots .owl-dot:hover span{
    background: #009FD9;
}

.tab-ul{
    margin: 15px 0 0;
}
.tab-ul li{
    display: inline-block;
    margin: 0;
}

.tab-ul li a{
    margin:0 30px 15px 0;
    width: 256px;
    height: 50px;
    background: transparent;
    transition: all 0.3s ease;
    font-size: 24px;
    border-radius: 4px;
    border:2px solid #515151;
    display: block;
    text-align: center;
    padding: 6px 10px;
    font-weight: 500;
}
.tab-ul li:last-of-type a{
    margin-right: 0;
}
.tab-ul li a:hover,
.tab-ul li a.active{
    background: #009FD9;
    color: #fff;
    border:2px solid #009FD9;
}
.tab-content{

}
.tab-pane .row > div{
    padding-bottom: 15px;
}
.tab-pane .row > div:after{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background: #f0f0f0;
}
.tab-pane .row > div:last-of-type:after{
    display: none;
}
.tab-content .tab-img-div{
    margin-bottom: 18px;
}
.tab-content .title{
    font-size: 18px;
    color: #009FD9;
    display: inline-block;
}
.tab-content h2{
    font-size: 24px;
    text-transform: uppercase;
    margin: 10px 0 20px;
}
.tab-content p{
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 1.2em;
}

.tab-bottom-btn{
    font-size: 24px;
    font-weight: 500;
    min-width: 256px;
    height: 50px;
    border-radius: 4px;
    background: #efefef;
    display: inline-block;
    text-align: center;
    padding: 8px;
    line-height: 34px;
}

.video-slider{
    padding: 60px 15px 40px;
    background: #efefef;
    position: relative;
}
.video-thumb{
    position: relative;
    cursor: pointer;
}
.video-single .play-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 110px !important;
    z-index: 222;
    padding: 20px 45px;
    background: rgba(0,0,0,0.4);
    border-radius: 6px;
    cursor: pointer;
}

.video-single .video-thumb{
    margin-bottom: 20px;
}
.video-single-text{

}
.video-single-text a{
    font-size: 18px;
    color: #009FD9 !important;
    display: inline-block;
}
.video-single-text p{
    font-size: 20px;
    margin-top: 8px;
    line-height: 1.2em;
}
.ctrl-btn{
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
    background-color: rgba(0,159,217,0.4);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 222;
    cursor: pointer;
}
#pt-back{
    background-image: url('../img/slider-arrow-left.png');
    left: 0;
}

#pt-next{
    background-image: url('../img/slider-arrow-right.png');
    right: 0;
}

.grid-bottom{
    margin: 15px 0 10px;
}
.grid-bottom-single{
    padding: 15px;
    background: #efefef;
    margin-bottom: 15px;
}
.grid-bottom-single .grid-img{
    margin-bottom: 20px;
}
.grid-bottom-single h3{
    font-size: 24px;
    margin-bottom: 40px;
}
.grid-bottom-single .anchor-div{
    float: right;
}

.side-col{

}
.side-div{
    background: #fef100;
    color: #000;
    height: calc(100% - 15px);
}
.bottom-btns a{
    margin: 0 0 20px;
    display: block;
    width: 100%;
    color: #fff !important;
    background: #009fd9;
    font-size: 34px;
    padding: 5px;
    text-align: center;
    border-radius: 6px;
    text-transform: uppercase;
}

footer{
    background: #009fd9;
    color:#fff;    
}
footer h3{
    font-size: 33px;
    margin-top: 40px;
    text-transform: uppercase;
}
footer .mail-box-div{
    padding: 20px 0 60px;
}
.mail-box-div .mail-box{
    max-width: 600px;
    margin: auto;
}
.mail-box input[type="email"]{
    background: transparent;
    color: #fff !important;
    font-size: 30px;
    border-radius: 6px 0 0 6px;
    border: 1px solid #fff;
    border-right: none;
    height: 72px;
    box-shadow: none !important;
}

.mail-box input[type="email"]::-webkit-input-placeholder{
    color: #fff;
    opacity: 1 !important;
}
.mail-box input[type="email"]:-moz-placeholder{
    color: #fff;
    opacity: 1 !important;
}
.mail-box input[type="email"]::-moz-placeholder{
    color: #fff;
    opacity: 1 !important;
}
.mail-box input[type="email"]:-ms-input-placeholder{
    color: #fff;
    opacity: 1 !important;
}
.mail-box .send-btn{
    color: #fff;
    height: 72px;
    width: 140px;
    border: 1px solid #fff;
    border-radius: 0 6px 6px 0 !important;
    font-size: 30px;
    background: transparent !important;
    box-shadow: none !important;
}

.footmenu{
    border-top: 1px solid #fff;
    padding: 25px 0;
}
.footmenu ul{
    padding: 0;
    margin: 0;
}
.footmenu ul.left-menu a{
    font-weight: 500;
    text-transform: uppercase;
}
.footmenu li{
    list-style: none;
    display: inline;
    float: left;
}
.footmenu li a{
    font-size: 13px;
    padding: 0 5px;
    color: #fff !important;
    position: relative;
    line-height: 0.9em;
}
.footmenu li a:after{
    position: absolute;
    content: "";
    background: #fff;
    height: 100%;
    width: 1px;
    top: 0;
    right: -1px;

}
.footmenu li:last-of-type a:after{
    display: none;
}
.footmenu ul.left-menu li:first-of-type a,
.footmenu ul.right-menu li:first-of-type a{
    padding-left: 0;
}
.footmenu ul.left-menu li:last-of-type a,
.footmenu ul.right-menu li:last-of-type a{
    padding-right: 0;
}


.navbar-toggler{
    padding: 0;
    border:none;
    margin-left: 15px;
}
/* landing page css */

.dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown:hover>.dropdown-menu:before{
    display: none;
}
.landing-page .tab-section {
    background: #efefef;
    padding-bottom: 42px;
    padding-top: 30px;
    margin-top: 40px;
}

.landing-page .tab-section .tab-bottom-btn {
    background: #ffffff; 
}

.breadcrumb-links {
    background-color: #515151;
    line-height: 28px;
    padding: 3px 0px;
}

.breadcrumb {
    padding: 0;
    background-color: #515151;
    border-radius: 0;
    margin: 0px;
}
li.breadcrumb-item a {
    font-size: 16px;
    color: #fff;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}
.breadcrumb-item.active {
    color: #ffffff;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '\\';
}

.navbar .navbar-nav li a:after {
    display: none;
}

.navbar-nav>li>.dropdown-menu a {
    text-align: left;
    background: none;
    line-height: normal;
    margin: 10px 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #525252;
} 

.navbar-nav>li>.dropdown-menu a:hover{
    background: none;
    color: #42a0d9;
}

.navbar .navbar-nav li .dropdown-menu a{
    padding: 0 9px;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    left: 50%;
    right: auto;
    text-align: left;
    transform: translate(-50%, 0);
    background-color: #515151;
    min-width: 16rem;
}

.dropdown-menu.show:before{
    display: none;
}

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 50%;
    right: auto;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.top-heading p {
    font-size: 21px;
}

.fullwidth.top-heading h2 {
    margin: 42px 0;
    line-height: 34px;
    margin-bottom: 34px;
}

.top-heading p {
    font-size: 21px;
    line-height: 26px;
}

.socialmediaicons {
    padding-right: 20px;
    padding-left: 20px;
}

.print-and-media {
    display: flex;
    justify-content: left;
    align-items: center;
    background: #efefef;
    margin-bottom: 15px;
}

.print-and-media .altro {
    width: 354px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-left: 1px solid #fff;
    padding-left: 25px;
    color: #515151;
    font-weight: 500;
}

.printbtn {
    border-left: 1px solid #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90px;
}

.about-content h2 {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 38px;
    padding-bottom: 0;
    margin: 20px 0 0px;
}

.about-content {
    padding: 15px 0;
}

.img-about {
    float: left;
    margin: 0 20px 20px 0;
}

.about-content p {
    font-size: 20px;
    font-weight: 400;
}

/* social icon css */

.socialmediaicons .fa:hover {
    color:white;
    opacity:0.8;
}
.socialmediaicons .fab {
    padding: 8px;
    font-size: 20px;
    width: 36px;
    text-align: center;
    text-decoration: none;
    margin: 5px 15px;
    border-radius: 50%;
}

.socialmediaicons .fa-facebook-f{
    background: #3B5998;
    color: white;
}

.socialmediaicons .fa-twitter {
    background: #55ACEE;
    color: white;
}

.socialmediaicons .fa-google-plus-g {
    background: #dd4b39;
    color: white;
}

.socialmediaicons .fa-linkedin-in {
    background: #007bb5;
    color: white;
}

.socialmediaicons .fa-behance {
    background: #4176fa;
    color: white;
}

.socialmediaicons .fa-xing {
    background: #04cc47;
    color: white;
}

.socialmediaicons .fa-pinterest-p {
    background: #cb2027;
    color: white;
}


.socialmediaicons .fa-tumblr {
    background: #2c4762;
    color: white;
}


.socialmediaicons .fa-flickr {
    background: #f40083;
    color: white;
}

.video-play {
    width: 100%;
    position: relative;
}

a.news-play {
    display: block;
    position: relative;
}
a.news-play:after {
    content: "";
    background-image: url(../img/play.png);
    position: absolute;
    top: 0;
    z-index: 9;
    height: 79px;
    width: 107px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-repeat: no-repeat;
}

.video-bg {
    background: #009fd9;
    padding: 10px;
}
.video-bg .row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-bg h2, .video-bg p{
    color: #fff;
}
.video-bg p {
    font-size: 19px;
}
.video-bg h2{
    text-transform: uppercase;
}

.video-bg .col-md-4 {
    padding-left: 0px;
}

.video-slides .owl-dots {
    counter-reset: dots;
}

.video-slides .owl-dot:before {
    counter-increment: dots;
    content: counter(dots);
    padding: 0 6px;
    line-height: 19px;
}

.photo-gallery .video-slides.news-slides .owl-theme .owl-dots .owl-dot:first-child, 
.video-slides .owl-theme .owl-dots .owl-dot:first-child {
    border-left: 0px solid #fff;
}

.thumb-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.thumb-content {
    padding-left: 15px;
    width: 50%;
}

.thumb-img {
    width: 50%;
}

.thumb-content h4 {
    font-size: 17px;
    margin-bottom: 5px;
    color: #fff;
    text-transform: uppercase;
}

.thumb-content p {
    font-size: 15px;
    line-height: normal;
    margin: 0;
    color: #fff;
}

.video-slides {
    background: #009fd9;
    padding: 20px 5px;
    margin-top: 5px;
    position: relative;
}

.video-slides .owl-stage-outer:after, .video-slides .owl-stage-outer:before  {
    content: "";
    border-left: 1px solid #fff;
    height: 100%;
    width: 1px;
    position: absolute;
    top: 0;
    left: 33%;
}

.video-slides .owl-stage-outer:before {
    left: inherit;
    right: 33%;
}


.video-slides .owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 16px; 
    background: none;  
    border-radius: 0px;
}

.video-slides .owl-theme .owl-dots .owl-dot {
    font-size: 24px;
    color: #fff;
}

.video-slides .owl-theme .owl-dots .owl-dot.active {
    font-weight: bold;
    color: #515151;
}

.video-slides .owl-theme .owl-dots .owl-dot span {
    display: none;
}

.video-slides .owl-prev, .video-slides .owl-next{
    font-size: 0 !important;
}

.video-slides .owl-theme .owl-dots .owl-dot {
    border-left: 2px solid #fff;
    line-height: 20px;
}

.video-slides .owl-prev:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
    color: #fff;
    content: "\f053";
}

.video-slides .owl-next:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 18px;
    color: #fff;
    content: "\f054";
}

.video-slides .owl-carousel .owl-stage-outer {
    margin-bottom: 30px;
}

.video-slides .owl-dots {
    z-index: 9;
    margin-top: 10px;
}

.video-slides .owl-prev, .video-slides .owl-next {
    position: absolute;
    left: 32%;
}

.video-slides .owl-next {
    left: inherit;
    right: 32%;
}

.video-slides .owl-theme .owl-nav {
    position: absolute;
    width: 100%;
    z-index: 1;
    margin: 0;
    bottom: 30px;
}

.video-slides .owl-theme .owl-nav [class*=owl-] {
    background: none;
    margin: 0;
    padding: 0;
}
.video-slides .owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    margin: 0;
    padding: 0;
}

.photo-gallery {
    position: relative;
}

.photo-gallery .video-slides.news-slides{
    background: #515151; 
    margin-top: 5px;
}

.photo-gallery .video-slides.news-slides .owl-theme .owl-dots .owl-dot.active {
    color: #009fd9;
}

.video-slides.news-gallery {
    background: #515151;
    padding: 20px 20px;
    padding-bottom: 40px;
    margin-top: 20px;
}

.video-slides.news-gallery .owl-stage-outer:before, .video-slides.news-gallery .owl-stage-outer:after {
    display: none;
}

.photo-gallery .video-slides.news-gallery .owl-theme .owl-dots .owl-dot.active {
    color: #009fd9;
}

.video-slides.news-gallery .owl-carousel .owl-stage-outer {
    margin-bottom: 20px;
}

.section_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.fancybox {
    margin: 0 16px;
    margin-bottom: 32px;
}

a.fancybox:last-child {
    margin-right: 0px;
}

a.fancybox:first-child {
    margin-left: 0;
}

.news-gallery h2 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 0;
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.news-gallery p {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
}

/* icon css */

/*============== Responsive css ================*/
@media(min-width: 1600px){
    .socialmediaicons .fab {
        margin: 5px 14px;
    }
}

@media(max-width:1199px){
    .navbar {
        padding: 12px 0px;
    }
    .navbar .container{
        max-width: 100%;
    }
    .bottom-btns a{
        font-size: 30px;
    }
    .top-slider{
        margin-bottom: 40px;
    }
    .top-slider .owl-dots{
        width: 100%;
        bottom: -40px;
    }
    .navbar .navbar-nav li a{
        padding: 22px 6px;
        font-size: 14px;
    }

}
@media(min-width:768px) and (max-width:1199px){
    .slider-text h1{
        font-size: 22px;
    }
    .tab-ul li a{
        width: 210px;
    }
    .about-content p {
        font-size: 17px;  
    }
}
@media(min-width:768px) and (max-width:1199px){    
    .socialmediaicons .fab {    
        margin: 5px 8px;
    }
    .print-and-media .altro {
        width: 290px; 
    }
    .printbtn {
        width: 100px;
    } 
}

@media(max-width:991px){
    .order1 {
        order: 1;
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .img-about { 
        width: 100%;
    }
    .order2 {
        order: 2;
    }

    .order3 {
        order: 3;
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order4 {
        order: 4;
    }

    header .container{
        max-width: 100%;
    }
    .navbar .navbar-nav li a{
        padding: 10px 8px;
        font-size: 16px;
    }
    .search-col{
        flex-wrap: wrap;
    }
    header .search-box {
        margin: 20px 0 12px;
    }
    .navbar-collapse{
        position: absolute;
        top: 100%;
        background: #009FD9;
        width: 100%;
        z-index: 3333;
        max-width: 300px;
    }
    .bottom-btns a{
        font-size: 20px;
    }
    .footmenu ul{
        width: 100%;
        text-align: center;
    }
    .footmenu li {
        list-style: none;
        display: inline-block;
        float: none;
    } 
    .landing-page .container {
        max-width: 100%;
    }

    .video-slides .owl-stage-outer:before {
        left: inherit;
        right: 50%;
    }

    .video-slides .owl-stage-outer:after {
        display: none;
    }
    .video-slides .owl-prev {
        left: 25%;
    }
    .video-slides .owl-next {
        right: 25%;
    }
    .print-and-media {
        display: block; 
    }
    .socialmediaicons .fab {    
        margin: 5px 8px;
    }
    .socialmediaicons { 
        display: inline-block;
    }
    .print-and-media .altro {
        width: 150px;
        text-align: center;
        padding: 0;
        display: inline-block;
        padding-top: 14px;
        float: right;
    }
    .printbtn {
        display: none;
    }

    .top-heading p { 
        margin: 0;
    }
    a.fancybox {
        margin: 0 7px;
        margin-bottom: 15px;
    }
    a.fancybox:first-child {
        margin-left: 0;
    }
    a.fancybox:last-child {
        margin-right: 0px;
    }
}
@media(max-width:767px){
    header {
        background: transparent;
        padding: 30px 0 0;
    }
    .top-links{
        display: none;
    }
    .logo-col{
        text-align: center;
    }
    .header .search-box{
        max-width: 600px;
        margin: 30px 0;
    }
    .header .search-box input[type="text"]{
        background: #efefef;
    }
    .social-top {
        width: 100%;
        float: left;
        text-align: center;
        margin: 0 0 30px;
    }
    .social-top i{
        font-size: 25px;
    }
    .social-top span{
        display: none;
    }
    .navbar {
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0 !important;
    }
    .search-col{
        margin-top: 0;
    }
    .container{
        max-width: 100% !important;
        float: left;
    }
    .top-slider .container{
        padding-top: 15px;
        background: #efefef;
    }
    .slider-text h1{
        margin-top: 15px;
        font-size: 23px;
    }
    .slider-text-col{
        padding: 0;
    }
    .slider-text{
        padding:20px 0px 15px;
    }

    .tab-ul{
        text-align: center;
    }
    .tab-ul li{
        margin: auto;
    }
    .tab-ul li a{
        width: 210px;
        margin: 0 6px 15px !important;
    }
    .tab-img-div img{
        width: 100%;
    }
    .tab-content p {
        margin-bottom: 20px;
        border-bottom: 1px solid #009fd9;
        padding: 0 0 20px;
    }
    .tab-pane .row > div{
        margin-bottom: 25px;
    }
    .tab-pane .row > div:last-of-type{
        margin-bottom: 0px;
    }
    .video-slider-section{
        background: #efefef;
        margin-top: 15px;
    }
    .video-slider{
        margin-top: 15px;
    }
    .video-slider {
        padding: 30px 40px 30px;
    }
    .ctrl-btn {
        background-color: transparent;
        height: 60px;
        bottom: 0;
        margin: auto;
        background-size: 16px;
    }

    #pt-back{
        background-image: url('../img/blue-arrow-left.png');
        background-position: left 0 center;
    }

    #pt-next{
        background-image: url('../img/blue-arrow-right.png');
        background-position: right 0 center;
    }
    .grid-bottom{
        margin: 20px 0;
    }
    .grid-bottom-single .anchor-div{
        display: none;
    }
    .grid-bottom-single{
        padding: 10px;
        background: #009FD9;
    }
    .grid-bottom-single h3{
        color: #fff;
    }
    .grid-bottom-single .grid-img img{
        width: 100%;
    }
    .side-div{
        height: auto;
        margin-top: 15px;
    }
    .bottom-btns a {
        font-size: 26px;
        max-width: 400px;
        margin: 0 auto 20px;
    }

    .footmenu ul.left-menu a{
        font-size: 20px;
    }
    .footmenu ul.right-menu li:first-of-type,
    .footmenu ul.right-menu li:last-of-type{
        width: 100%;
    }
    .footmenu ul.right-menu li:first-of-type a:after,
    .footmenu ul.right-menu li:nth-of-type(3) a:after{
        display: none;
    }
    .footmenu ul.right-menu li:last-of-type{
        margin-top: 10px;
    }
    .footmenu ul.right-menu li a{
        font-size: 14px;
    }
    .video-play { 
        margin-bottom: 15px;
    }
    .video-slides .owl-prev {
        left: 15px;
    }
    .video-slides .owl-next {
        right: 15px;
    }
    .video-slides .owl-theme .owl-dots .owl-dot {
        line-height: 14px;
        font-size: 14px;
        height: 13px;
        vertical-align: top;
    }
    .video-slides .owl-dot:before {
        padding: 0 5px;
        line-height: 14px;
    }
    a.fancybox:last-child {
        display: none;
    }
    a.fancybox:nth-last-child(2) {
        display: none;
    }
    .printbtn { 
        display: none;
    }

    .socialmediaicons { 
        text-align: center;
        width: 72%;
    }

    .socialmediaicons .fab {
        padding: 6px;
        font-size: 14px;
        width: 25px; 
        margin: 12px 4px;
    } 
    .img-about {
        margin-right: 0px;
        width: 100%;
    }
    .fullwidth.top-heading h2 {
        margin: 25px 0; 
        line-height: 28px;
        margin-bottom: 18px;
        font-size: 24px;
    }
    .top-heading p {
        font-size: 16px;
        line-height: 24px;
        margin: 0;
    }
    .about-content h2 {
        line-height: 28px; 
        font-size: 24px;
    }
    .about-content p {
        line-height: 24px;
        font-size: 16px;
    }
    .video-bg .col-md-4 {
        padding-left: 15px;
    }
    .news-gallery p {
        font-size: 19px;
    }
    .video-slides.news-gallery {
        padding-bottom: 20px;
    }
    .video-bg h2{ 
        font-size: 24px;
    }
    .video-bg p {
        font-size: 19px;
        line-height: 24px;
    }
}

@media(max-width: 720px){
    .video-slides .owl-stage-outer:before {
        display: none;
    }
}

@media(max-width: 575px){
    .print-and-media { 
        overflow: hidden;
    }
    .socialmediaicons {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-top: 15px;
    }
    .print-and-media .altro {
        width: 100%;
        border: none;
    }
    .socialmediaicons .fab {
        margin: 0px 1px;
    }
    .video-slides .owl-theme .owl-nav {
        bottom: 30px;
    }
    .video-slides .owl-next:after {
        font-size: 16px;
    }
    .video-slides .owl-next:before {
        font-size: 16px;
    }

    a.fancybox {
        margin: 0 6px;
        margin-bottom: 12px;
    }
    a.fancybox:first-child {
        margin-left: 0;
    }
    a.fancybox:last-child {
        margin-right: 0px;
    }
    .news-gallery h2 {
        font-weight: 500;
        line-height: 28px;
        font-size: 22px;
    }
}

@media(max-width:480px){
    .mail-box input[type="email"],
    .mail-box .send-btn{
        height: 50px;
        font-size: 25px;
    }

    .socialmediaicons {
        padding-right: 13px;
        padding-left: 13px;
    }
    .socialmediaicons .fab {
        margin: 0;
    }

}
@media(max-width: 360px){
    .video-slides .owl-next {
        right: 0;
    }
    .video-slides .owl-prev {
        left: 0;
    }
}
@media(max-width:991px){
    .navbar .navbar-nav li a::after{content: none !important}
    .navbar-nav>li>.dropdown-menu {position: absolute;}
}