// out: responsive.css, compress: true, sourceMap: false
// relativeUrls: true

/* --------------------------------------------------------------------------------
*
* REFERENCES
*
-------------------------------------------------------------------------------- */

// Bootstrap
//@import (reference) "../../node_modules/bootstrap-less-port/less/bootstrap";
//@import (reference) "../../node_modules/bootstrap-less-port/less/mixins/_grid-framework";
//@import (reference) "../../node_modules/bootstrap-less-port/less/mixins/_grid";
@import (reference) "../../node_modules/bootstrap-less-port/less/_variables";
//@import (reference) "../../node_modules/bootstrap-less-port/less/_grid";

// Custom
@import (reference) "custom_mixins";
@import (reference) "style";


/* -----------------------------------------------------------------------------
*
* Handy Reference for Bootstrap Media Queries
*
-------------------------------------------------------------------------------- */

// Extra small devices (phones, less than 768px)
/*@screen-xs-max: "767px";
@media (max-width: @screen-xs-min) {  }*/

// Small devices (tablets, 768px and up)
/*@screen-sm-min: "768px";
@screen-sm-max: "991px";
@media (min-width: @screen-sm-min) {  }*/

// Medium devices (desktops, 992px and up)
/*@screen-md-min: "992px";
@screen-md-max: "1199px";
@media (min-width: @screen-md-min) {  }*/

// Large devices (large desktops, 1200px and up) */
/*@screen-lg-min: "1200px";
@media (min-width: @screen-lg-min) {  }*/


/*@media (max-width: @screen-xs-max) {  }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {  }
@media (min-width: @screen-lg-min) {  }*/


/* --------------------------------------------------------------------------------
*
* GENERAL
*
-------------------------------------------------------------------------------- */

@media (max-width: 767px) {
    #wpadminbar {.dn;}
    .grid-bottom-single {background: #efefef;}
}

@media (min-width: 600px) {
    .socialmediaicons .addtoany_shortcode .addtoany_list {
        > a {.m(0 14px);}
    }
}

@media (max-width: 599px) {
    .socialmediaicons {
        .addtoany_shortcode .addtoany_list {.pl(2px);
            > a {.m(0 3px 0 0);}
            .a2a_svg {.w(28px)!important; .h(28px)!important;}
            .a2a_svg svg {.w(25px); top:2px;}
            .a2a_button_printfriendly {
                i {.fs(18px); }
            }
        }
    }
}

@media (max-width: 375px) {
    .breadcrumb-links {
        nav {.ta(center);}
        .breadcrumb {.ta(center); display:inline-flex;}
    }
    .sidebar_toggle {.fs(1.1rem); .tt(uppercase); .ta(center); .c(@blu);
        &:before {content: "\f0c9"; font-family: "Font Awesome 5 Pro";  padding-right: 10px;}
    }
    .sidebar-sx.col-3 {.w(100%); .maxw(100%); .minw(100%); .nop;
        .inner_sidebar {.dn; .bc(#efefef); .p(10px);
            h4 {.ta(center); .fs(1rem);
                &:before {content:"";}
            }
        }
    }
    .col-9 {.w(100%); .maxw(100%); .minw(100%);}

    h2.list_title {.mb(0); .pb(10px); .bb(1px solid #efefef);}

    .grid-bottom-single {.p(0);
        h3 {.ta(center); .fs(1.2rem); }
    }
}

/* --------------------------------------------------------------------------------
*
* HEADER
*
-------------------------------------------------------------------------------- */
@media (min-width: 1200px) and (max-width: 1500px) {
    header {
        .navbar {
            .navbar-nav>li:first-child >.dropdown-menu {left:100%;}
        }
        nav #menu-header-menu-principale>li {.p(22px 3px);}
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    header {
        .navbar {
            .navbar-nav>li:first-child >.dropdown-menu {left:150%;}
        }
    }
}

@media (max-width: 767px) {

    // Principale
    nav #menu-header-menu-principale {
        >li:after {content:"";}
        // Area riservata per Mobile
        //h4.sidebar_toggle.visible-xs {.dn;}
        li.menu-item-has-children {
            a.dropdown-toggle {
                &:after { content: ""!important;}
            }
        }
        .menu_area_riservata {}
    }

    header {.pt(15px);
        .logo-col {
            img {.maxw(300px);}
        }
        .search-box.align-self-center {.mb(20px);
            input, button {.maxh(30px);}
            button {.p(0);}
            img {.maxh(20px);}
        }
        .social-top {.mb(10px);}
    }
}

@media (max-width:375px) {
    .navbar-collapse {.maxw(100%);}

    // Principale
    nav #menu-header-menu-principale {
        // Area riservata per Mobile
        //h4.sidebar_toggle {.db;}
        .menu_area_riservata {}
    }
}

/* --------------------------------------------------------------------------------
*
* FOOTER
*
-------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------
*
* HOME
*
-------------------------------------------------------------------------------- */

@media (min-width: 1367px) {
    .home {
        .grid-bottom {
            .grid-img {.maxh(247px); .oh;}
        }
    }
}

@media (max-width: 1199px) {
    .home {
        .grid-bottom {
            .grid-img {.maxh(185px); .oh;}
        }
    }
}

@media (max-width: 991px) {
    .home {
        .grid-bottom {
            .grid-img {.maxh(92px); .oh;}
        }
    }
}

@media (max-width: 991px) {
    .home {
        .grid-bottom {
            .grid-img {.maxh(300);}
        }
        .home_sidebar_basso_dx {.m(0 auto); .ta(center);

        }
    }
}

@media (max-width: 767px) {

    .home, .single {
        .top-slider {
            .owl-dots {.w(100%); left:0;}
        }
        .tab-section {
            .ultimissime {
                .item:last-child {.dn;}
            }
        }
        .pulsante-blu {.m(0 auto 10px);}
        .bottom-btns a {.maxw(100%);}
    }

}

@media (max-width: 375px) {
    .home {
        .video-slider-section {
            .container {.nop;}
            .video-slider {
                .ctrl-btn {.w(20px); .bc(transparent);}
            }
        }
    }
}

/* --------------------------------------------------------------------------------
*
* PAGES
*
-------------------------------------------------------------------------------- */
