// out: style.css, compress: true, sourceMap: false
// relativeUrls: true

/* --------------------------------------------------------------------------------
*
* REFERENCES
*
-------------------------------------------------------------------------------- */

// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

// Bootstrap
@import (reference) "../../node_modules/bootstrap-less-port/less/bootstrap";
/*@import (reference) "../../node_modules/bootstrap-less-port/less/mixins/_grid-framework";
@import (reference) "../../node_modules/bootstrap-less-port/less/mixins/_grid";
@import (reference) "../../node_modules/bootstrap-less-port/less/_variables";
@import (reference) "../../node_modules/bootstrap-less-port/less/_grid";*/

// Custom
@import (reference) "custom_mixins";

// Other
@import url("main.css");

/* --------------------------------------------------------------------------------
*
* GENERAL
*
-------------------------------------------------------------------------------- */

/*@media (min-width: 576px) {
    // default 540px
    .container {   max-width: 530px; }
}
@media (min-width: 768px) {
    // default 720px
    .container {  max-width: 710px;  }
}
@media (min-width: 992px) {
    // default 960px
    .container { max-width: 950px; }
}
@media (min-width: 1200px) {
    // default 1140px
    .container { max-width: 1366px; }
}*/
@media (min-width: 1367px) {
    .container { max-width: 1300px; }
}

@blu: #009FD9;
@grigio: #515151;
@grigio_light: rgba(170, 170, 170, 0.30);

@normal: 400;
@bold: 500;
@lightt: 300;

.list_title {.tt(none);}

.anchor-div {
    i, svg {.c(#fff); .fs(20px); vertical-align: middle;}
}

.side-div {.nobg;}

.socialmediaicons {.nop; .w(100%);
    .addtoany_shortcode .addtoany_list {
        a {.nop; vertical-align: text-top; .h(45px);}
        a > span {border-radius: 20px!important;}
        .a2a_svg svg {.w(30px); top:3px;}
        .a2a_button_printfriendly {.fr; .mt(10px);
            i {.fs(25px); .c(@blu);}
        }
    }
}

.print-and-media {.mb(30px);}

.fullwidth.top-heading {
    h2 {.m(0 0 10px 0);}
    p {.mt(20px);}
}

.tab-content, .video-single {.mb(20px);
    h2 {.mb(10px); .minh(56px); .fs(22px);}
    p {.fs(16px);}
}

.tab-section, .video-slider-section {
    .item, .video-single {
        a:hover {.td(underline);}
        .date {.c(@blu);
            i, p span, p a {.c(@blu);}
            p a {.fw(@bold);}
            p {.fs(14px); .mb(0); .dib;}
            i {.pr(5px);}
            p span {.fs(14px);}
        }
    }
    .nav.tab-ul li a {.m(0 28px 15px 0);}
    .nav.tab-ul li:last-child a {.mr(0);}
}

hr.lista {.db; .m(30px auto); .w(100%);}

.pagination_wrapper {.m(30px auto); .ta(center);
    .screen-reader-text {.dn;}
    ul, .nav-links {.m(0 auto); .db;
        li, .page-numbers {.p(5px 12px); .b(1px solid @blu); .dib;
            &:hover {.nob; .bc(@blu); .c(#fff);
                a {.c(#fff);}
            }
            a:hover {.c(#fff);}
        }
    }
    .nav-links {
        .page-numbers.current {.bc(@blu); .c(#fff);}
    }
}

.btn-primary {.bc(@blu); border-color: @blu; /*border-radius: 0;*/}

table {border:none;}

iframe {.maxw(100%);}

.wpcf7-form {
    label {.w(91%);}
    input[type=date], input[type=datetime-local], input[type=month], input[type=time] { display: block;width: 100%;height: calc(2.25rem + 2px);padding: .375rem .75rem;font-size: 1rem;line-height: 1.5;color: #495057;background-color: #fff;background-clip: padding-box;border: 1px solid #ced4da;border-radius: .25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
    // Rimuovi freccette sopra/sotto su chrome
    input[type=date]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        display: none;
    }
}

/* --------------------------------------------------------------------------------
*
* MENUS
*
-------------------------------------------------------------------------------- */

ul.menu, .widget_nav_menu ul.menu {
    li {list-style-type: none; .dib;}
}

// Top
.navbar-top {.nom; .nop;
    #top-nav {
        #menu-header-menu-secondario {.nom; .nop;
            > li {
                .dropdown-menu {.bc(#fff);}
            }
            li, li a {.c(@blu);
                &:hover {.c(@grigio);}
            }
            > li:first-child >.dropdown-menu {left:97%; border-top:none;}
        }
    }
}

// Principale
nav #menu-header-menu-principale {
    > li {.p(22px 9px); .c(rgba(255, 255, 255, 0.58)); .pr;
        a {.p(0 5px 0 0);
            &:hover {.c(@grigio);}
        }
        &:after {content:" | "; .pa; top: 28%; right: 0;}
        .dropdown-menu {.bc(@blu); border-top:none; .pt(0);
            &:before {.dn; .nob;}
        }
    }
    > li:first-child {.pl(0);}
    > li:last-child {.pr(0);
        &:after {content:"";}
    }
    li ul {
        li {.p(0 0 0 20px);}
        li:after {content:"";}
    }
    li a:after {.nobg;}
    .dropdown-toggle.nav-link {
        &:after {
            position: unset;
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: .255em;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
        }
    }

    // Area riservata per Mobile
    //.menu_area_riservata {}
}

// Sidebar
.widget_nav_menu ul.menu {.pl(0);}
.sidebar-sx {
    .widget, .widget_categories, .widget_nav_menu, .widget_list_tax_terms, .widget_text { .fs(18px); .fw(@bold); .mb(20px);
        h4 {.fs(18px); .fw(@bold); .tt(uppercase);
            // Hamburger
            &:before {content: "\f0c9"; font-family: "Font Awesome 5 Pro"; .pr(10px);}
        }
        ul {.pl(0); 
            li {.db;}
            li, li a {.fs(14px); .fw(@normal)!important; .tt(uppercase);}
            .menu-item-has-children a {.pb(0);}
            li .sub-menu {.pb(10px); .pt(0); .pl(10px);}
        }

        // Nuovo menu - Grigio / Blu
        .menu, [id^="lct-widget-"] {.bc(@grigio);
            li { .p(15px 0 15px 25px); .c(#fff); .bb(1px solid @grigio_light); .pr;
                a {.tt(uppercase); .c(#fff);
                    &:hover {.c(@blu);}
                }
                // Linguetta blu
                &:hover {
                    //a {.c(@blu);}
                    &::before {.bc(@blu); .c(@blu); .pa; left:-15px; content:"fa"; .h(100%); top:0;}
                }
            }
            li.current_page_item, li.current-cat, li.current-menu-item {
                > a {.c(@blu);}
                // Linguetta blu
                &::before {.bc(@blu); .c(@blu); .pa; left:-15px; content:"fa"; .h(100%); top:0;}
            }
            li ul.sub-menu {.pb(0);
                li {.nob; .p(15px 0 0 20px);
                    a {.tt(none); .fs(13px);}
                    // No linguetta blu nei sottomenu
                    &::before {content:"";}
                }
            }
            li.current-menu-ancestor {
                // Linguetta blu parent
                &::before {.bc(@blu); .c(@blu); .pa; left:-15px; content:"fa"; .h(100%); top:0;}
            }
        }

        // Vecchi menu sidebar
        /*.menu, #lct-widget-tipologia_soggetto {
            > li { .pb(15px);
                > a {.fw(@bold); .tt(uppercase);}
            }          
        }*/
        // Frecce per menu
        /*li, li.menu-item-has-children .sub-menu li {
            a {.pb(10px);
                &:hover::after {.pl(10px); content:"\f061"; font-family: "Font Awesome 5 Pro"; .td(none); .fs(16px); .c(@grigio);}
            }
        }
        li.menu-item-has-children > a {
            &:hover::after {content:"\f063"; .fs(16px); .c(@grigio);}
        }
        ul {
            li.current_page_item, li.current-cat, li.current-menu-item {
                > a {.td(underline);
                    &:hover::after {content:" "!important;}
                }
            }
        }*/
    }

    .widget.widget_fabi_strutture {
        li ul {.dn;
            &.sub-menu {.pt(5px);
                li {.p(0);}
            }
        }
        .menu-item-has-children .sub-menu::first-child {.pt(10px);}
    }

    .widget_text {
        .textwidget {
            p {.fs(14px);
                a {.c(@blu);}
            }
        }
    }
}

/* --------------------------------------------------------------------------------
*
* HEADER
*
-------------------------------------------------------------------------------- */

.social-top svg { .c(@blu); .fs(18px);}
.breadcrumb {
    li, li a {.c(#fff);}
    li:after {content:" / ";}
    li:last-child {
        &:after {content:"";}
    }
}
header {
    .search-col {.mt(0);
        .search-form {.w(54%);}
    }
    p.welcome {.c(@blu); .p(10px); .m(0 auto); .fw(@bold);}
}

/* --------------------------------------------------------------------------------
*
* FOOTER
*
-------------------------------------------------------------------------------- */

.bottom-btns {.mb(30px);}
footer {.pt(30px);}
.footmenu {.fs(13px); .c(#fff);
    a {.c(#fff);}
    p {.mb(0);}
}
.footer_alto {
    .widget_nav_menu {clear:both;}
    .menu-home-pulsanti-footer-blu-buttons-container {.m(20px auto);
        a {.fs(30px); .mb(0);}
    }
    .widget_media_image {.fl; .maxw(555px); .mb(20px);}
}
.bottom-btns a {.m(0);}

.footer_basso {.mb(30px);
    .menu-footer-bottom-container {
        .button { .ta(center); .mb(20px);
            a {.fs(17px); .c(#fff); .tt(uppercase); .ta(center); .bc(@grigio); border-radius: 6px; .p(12px 10px); .db;
                span {.w(25px); .h(25px); border-radius: 3px; .fl; .bc(@blu);
                    i {.fs(25px);}
                }
                span.brown {.bc(#A56338);}
                span.salmon {.bc(#D98E71);}
                span.yellow {.bc(#F0DA00);}
                span.fucsia {.bc(#D0007D);}
            }
        }
    }
}

/* --------------------------------------------------------------------------------
*
* HOME
*
-------------------------------------------------------------------------------- */

.home {
    .top-slider .owl-dots {bottom:0; .w(20%); left: 15%;}
    .top-slider.fullwidth {.mb(30px);}
    .tab-section.fullwidth {
        .nav.tab-ul {.mb(20px);}
    }
    .video-slider {
        .ctrl-btn {.w(60px);     background-color: rgba(0, 159, 217, 0.65);}
        .video-single {
            h2 {.mb(10px);  .minh(56px);  .c(@grigio); .fs(24px);
                a {.c(@grigio); .fs(24px); .fw(@bold);}
            }
            .video-thumb {.mb(10px);}
        }
    }
    .side-col {.pt(10px);}
}

/* --------------------------------------------------------------------------------
*
* MULTIMEDIA
*
-------------------------------------------------------------------------------- */

.single {
    //.video-slides.news-gallery, .video-slides {background: none;}
    //.grey_bg {background: @grigio; }
    .video-slides.news-gallery.row {.mr(0); .ml(0);}
}


/* --------------------------------------------------------------------------------
*
* SIDEBAR
*
-------------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------------
*
* PAGE
*
-------------------------------------------------------------------------------- */
.page.page-template-default {
    .top-heading {.mb(3vh);}
}

.page, .search.search-results {
    // Template Lista
    /*.the_list {
        .item_lista {
            h4 {.fs(14px); .m(0); .lh(35px);}
        }
    }*/
    .top-heading {
        .center {
            h2 {.ta(center);}
        }
    }
}
.page-news, .search.search-results {
    .top-heading {
        p {.ta(center); .fs(13px);}
        h2 {.ta(center); .tt(uppercase);}
    }
    .grid-bottom-single {
        .a-text {.fs(12px);}
        .a-img {.w(auto); .h(auto); .p(0 10px);}
        .anchor-div i {.fs(15px);}
        h3 {.fs(18px);}
    }
}

.search.search-results {
    .top-heading {
        h2 {.mb(20px);}
    }
    .grid-bottom-single {.mb(30px);}
    .result {
        h3, .tax {.fl;}
        .post_info {.db; .clear; .w(100%);}
        .small {.fs(80%);}
    }
}

.page {
    .video-slides {
        .video-single {.c(#fff);
            .video-single-text {
                h4, h4 a, p, a {.c(#fff)!important;}
                h4, h4 a {.fs(18px); .lh(20px);}
                .date {
                    p {.fs(13px);}
                    p span a {.fs(13px); .td(underline);}
                }
                p {.fs(15px); .lh(15px);}
            }
        }
    } 
}

/* --------------------------------------------------------------------------------
*
* SINGLE
*
-------------------------------------------------------------------------------- */

.about-content {
    p {.fs(16px);}
}

.single {
    .feat_media {.mb(20px);}
    .content {
        .top-heading {
            h2 {.mb(20px);}
        }
        p {
            a {.c(@blu);}
        }
    }
}

.single.single-multimedia {
    .video-slides.news-gallery {.p(30px 10px 20px);
        .gallery_item {.mb(25px);}
    }
}

/* --------------------------------------------------------------------------------
*
* ARCHIVE
*
-------------------------------------------------------------------------------- */

.post-type-archive {
    main .fullwidth.about-content {.mt(60px);}
}

.archive, .page.news-comunicati {
    .top-heading {
        h2 {.ta(center); .tt(uppercase); .m(20px auto 10px);}
    }
}

.template-comunicati_archivio, .post-type-archive-comunicato, .post-type-archive-evento, .page.news-comunicati, .post-type-archive-strutture_territorio, .single.single-struttura, .search.search-results {
    .top-heading {
        p {.ta(center); .fs(13px); .mb(0);}
        h2 {.ta(center); .tt(uppercase); .mt(0);}
        // Logo Banche centrato opaco sotto testo
        .logo {.pa; right:0; z-index:-1;}
    }
    .search_form {.m(50px auto 30px);}
    .grid-bottom-single {background: none; .minh(60px); .p(10px);
        h3 {.fs(15px); .mb(0); }
        .date { .db; .clear;  .mb(24px);
            p, span, a {.fs(13px);}
            p {.mb(0);}
            p span {.pl(0);}
            a {.c(@blu);}
            .banca {.c(@grigio); .tt(capitalize);}
        }
        //.logo {.fl; .m(0 10px 10px 0); .dib;}
        // Logo Banche a dx opaco sotto testo
        .logo {.pa; z-index: -1; top: 0; right: 5%; opacity: .2;}
    }
    &.post-type-archive {
        main .fullwidth.about-content {.mt(0);}
    }
}

.post-type-archive-comunicato {
    .top-heading {
        h2 {.mt(20px);}
    }
    .grid-bottom-single {.minh(120px);}
}

.post-type-archive-evento {
    .grid-bottom-single {.minh(30px);}
}

.template-lista_archivio {
    .top-heading {
        p {.ta(center); .fs(13px);}
        h2 {.ta(center); .tt(uppercase);}
    }
    .item_lista {.mb(10px);
        h4 {.fs(16px); .m(0); .lh(35px);}
    }
    .struttura_info {
        p {
            a {.fw(@bold);}
        }
    }
}

.grid-bottom-single h3 {.mb(0); .minh(40px);}

/* --------------------------------------------------------------------------------
*
* FANCYBOX
*
-------------------------------------------------------------------------------- */

.fancybox-container {//.maxw(800px);
    .fancybox-close-small {top: 5%; right: 3%;}
    .fancybox-content {
        #wpadminbar, header, footer, .breadcrumb-links, .print-and-media, .sidebar-sx {.dn;}
        .fullwidth .container {.w(100%); .maxw(800px);
            h2 {.fs(20px);}
            p {.fs(13px);}
        }
    }    
}

/* --------------------------------------------------------------------------------
*
* ALTRO
*
-------------------------------------------------------------------------------- */

// BOOTSTRAP HELPERS
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}